@media only screen and (max-width:480px)
{
.account-call-us
{
   
    padding: 10px;
    align-items: end;
}
.account-call-us-link li
{
    display: inline-block;
    padding: 2px 5px;
}
.account-call-us-link a 
{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
#address,#help 
{
   
    margin: 0;
    padding: 4px;
    background-color: gray;
    color: white;
}

/* navbar */
#navbar 
{
    width: 96%;
    height: auto;
    margin: 0;
    padding: 1px;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo
{
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
}
.logo img 
{
    width: 100%;
}
.navbar-about-us
{
    width: 60%;
    height: auto;
}
.about-call-us-link li 
{
    display: inline-block;
    padding: 2px 10px;
   
}
.info-navbar 
{
    display: none;
}
.about-call-us-link a 
{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.mobile-media-views
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 15px;
    margin-top: 2%;
    display:inline-block !important;
  
}
#btn
{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 5px !important;
    border: none !important;
    background-color: #066a62 !important;
    color: white;
    border-radius: 5px;
    font-size: 10px !important;
}
#banner-app
{
    width: 100%;
    height: 150px;
}
.banner img 
{
    width: 100%;
    height: 150px;
}


.login-txt 
{
    width: 80% !important;
    height: auto !important;
    margin: 5px !important;
    padding: 15px;
}
.login-txt img 
{
    width: 100% !important;
    height: auto !important;
}
.login-form 
{
    width: 80% !important;
    height: auto;
    margin: 5px !important;
    padding: 15px !important;
}
.login-form input 
{
    width: 300px;
    height: auto;
    padding: 25px;
    border: none;
    border-bottom: solid 2px black;
}
#reg-btn 
{
    width: 300px;
    height: auto;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 5%;

}
#reg-btn1 
{
    width: 300px;
    height: auto;
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    
    margin-top: 5%;

}
.our-benifits
{
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 0%;
    
}
.offer-zones
{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-top: 5%;  
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}
.offers img 
{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

#footer 
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15px;
    background-color: black;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.about-us ,.newsletter ,.contact-us 
{
    width: 90%;
    height: auto;
    color: white;
    padding: 10px;
    margin-left: 0;
    text-align: justify;
}



}